<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.oracle.javacard.jcdk.launch.runconfiguration.jcAppletRun">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="javacard.framework.Applet"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="e-payment-project"/>
</launchConfiguration>
